/* Custom theme overrides */

/* Teal accent like Netlify docs */
:root {
	--sl-color-accent-low: #083344;
	--sl-color-accent: #0d9488;
	--sl-color-accent-high: #5eead4;
}

:root[data-theme='light'] {
	--sl-color-accent-low: #ccfbf1;
	--sl-color-accent: #0d9488;
	--sl-color-accent-high: #134e4a;
}
